python-dotenv
pandas
youtube-transcript-api
google-api-python-client
pytube
flask
fastapi
uvicorn
pydantic
nltk
transformers
--index-url [https://download.pytorch.org/whl/cpu]
boto3
xlsxwriter
openpyxl
yt-dlp
